mixin modal-success(mods)
  if mods === "order-main"
    h2.title.title--h3.modal-success__title Ваша заявка успешно отправлена!
    p.modal-success__text Наш менеджер свяжется Вами в течении нескольких минут!
